[
  {blizanci, [
   {certfile, "HOME/blizanci/ssl/cer.cer"},
   {keyfile, "HOME/blizanci/ssl/key.key"},
   {hostname, "localhost"}
   ]},
  {lager, [
   {log_root, "log"},
   {extra_sinks, [
     {blizanci_access_lager_event, [
       {handlers, [
         {lager_file_backend, [
           {file, "access.log"},
           {level, info},
           {size, 10485760},
           {date, "$D0"},
           {count, 5},
           {formatter, lager_default_formatter},
           {formatter_config, [date, " ", time, " ", message, "\n"]}
         ]}
        ]
       }
     ]}
   ]}
  ]}
].
